{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us - Grocery Delight</title>
</head>
<body>


  <h1>📞 Contact Us</h1>
  <p>Email: <a href="mailto:team_rra595@gmail.com">team_rra595@gmail.com</a></p>
  <p>We are happy to help you anytime!</p>
  <a href="{% url 'home' %}">⬅ Back to Home</a>
  
<img src="{% static 'images/your_image.jpg' %}" alt="Product Image">
</body>
</html>
